<div class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="m-3">Houses</h1>
        </div>
    </section>


    <section id="houseForm" class="row card p-3 mb-3">
        <div class="col-12">
            <form onsubmit="app.Controller.createHouse()">

                <div class="mb-3">
                    <!-- NOTE a label's for attribute should match the id of an input tag -->
                    <label for="houseBedrooms">Bedrooms</label>
                    <!-- NOTE name attribute is used to target the values stored within each input -->
                    <!-- NOTE type attribute dictates the type of input you get -->
                    <!-- NOTE required attribute validates that the user has filled out an input field before they can submit a form  -->
                    <!-- NOTE minlength and maxlength will validate that the user inpuuted a string with the correct amount of characters -->
                    <input id="houseBedrooms" name="bedrooms" type="text" required maxlength="500">
                </div>

                <div class="mb-3">
                    <label for="houseBathrooms">Bathrooms</label>
                    <input id="houseBathrooms" name="bathrooms" type="text" required minlength="1" maxlength="500">
                </div>

                <div class="mb-3">
                    <label for="houseYear">Year Built</label>
                    <!-- NOTE min and max attributes validate the range of a number for an input with type number-->
                    <input id="houseYear" name="year" type="number" required>
                </div>

                <div class="mb-3">
                    <label for="housePrice">Price</label>
                    <input id="housePrice" name="price" type="number" required>
                </div>

                <div class="mb-3">
                    <label for="houseImgUrl">Image URL</label>
                    <!-- NOTE type url will validate that you are passing a url as a value -->
                    <input id="houseImgUrl" name="imgUrl" type="url" required maxlength="500">
                </div>

                <div class="mb-3">
                    <label for="houseDescription">Description of House</label>
                    <!-- NOTE textarea is just a longer text input field -->
                    <textarea id="houseDescription" name="description" class="w-100" rows="10"
                        maxlength="500"></textarea>
                </div>

                <div class="text-end mb-3">
                    <!-- NOTE important that we have a button with type of submit in order to trigger our onsubmit handler on the top of the form -->
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>

    </section>





    <div id="houseListings" class="row">

        <!-- <div class="col-12">
            <div class="row bg-light rounded shadow border border-dark">
                <div class="col-md-4 px-0">
                    <img src="https://floorcentral.com/wp-content/uploads/2014/07/sick-house-syndrome.jpg" alt=""
                        class="img-fluid rounded-start listing-picture">
                </div>
                <div class="col-md-8 p-3">

                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>3 Bedroom 2 Bathroom</h2>
                            <h3>$300000</h3>
                            <h3>Listed on 12/12/1200</h3>
                        </div>
                        <div class="me-5">
                            <h4 class="me-5">Listed by a guy</h4>
                            <img class="creator-picture ms-2"
                                src="https://www.looper.com/img/gallery/professor-xs-entire-backstory-explained/intro-1587748942.jpg"
                                alt="">
                        </div>
                    </div>
                    <p>YEAR | LEVELS</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eius, sed quisquam eaque impedit
                        voluptatem ex
                        pariatur commodi dolorum sapiente.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>